/**
 * #4C4A59 grau
 * #1B7F7A grün
 * #0897B4 blau
 * #4CABA6 türkis
 * #F2CDAC beige
 */

html {
  font-size: 130%;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 2em;
  font-weight: 900;
  color: #1b7f7a;
  text-shadow: 0.1rem 0.1rem 0 #4c4a59;
  margin: 0;
}

h2 {
  color: #4caba6;
}

body {
  padding: 0;
  margin: 0;
}

section {
  padding: 1rem;
}

section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btn {
  color: #0897b4;
  font-size: 1em;
  font-weight: bold;
  background-color: #fff;
  margin: 1rem;
  padding: 0.7rem 1.4rem;
  border: 0.2rem solid #0897b4;
  border-radius: 0.5rem;
  box-shadow: 0.3rem 0.3rem 0.6rem 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  transition: all 0.2s 0s ease;
}

.btn:hover {
  background-color: rgba(8, 151, 180, 0.05);
  box-shadow: 0.3rem 0.3rem 0.6rem 0 rgba(0, 0, 0, 0.15);
  margin-top: 0.9rem;
  margin-bottom: 1.1rem;
}

.card {
  background-color: rgba(27, 127, 122, 0.05);
  margin: 1rem;
  padding: 2rem;
  border: 0.2rem solid #1b7f7a;
  border-radius: 0.5rem;
  box-shadow: 0.3rem 0.3rem 0.6rem 0 rgba(0, 0, 0, 0.07);
}

.card-grid {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.nav-bar {
  padding: 0 0 0 0.2rem;
  color: #f2cdac;
  background-color: #4c4a59;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-bar #logo,
.nav-bar #menu-icon {
  font-weight: bold;
  padding: 0.7rem;
  margin: 0.5rem;
}

.nav-bar #logo {
  font-size: 1em;
  border: 0.1rem solid #f2cdac;
  border-radius: 50%;
}

.nav-bar #menu-icon {
  font-size: 2em;
  display: block;
}

.nav-bar .nav-item {
  font-size: 1.2em;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  display: none;
}

.nav-bar .nav-item:hover {
  color: #4c4a59;
  background-color: #4caba6;
}

.nav-bar #logo {
  margin-right: auto;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
